* {
  margin: 0;
  
  box-sizing: border-box;
}

body {
 
  background-image: url("./images/F1-Logo2.png");
 
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: 0 auto; */
}

