

.About-div{
    color: white;
    border-radius: 10px;
    font-size:1.4rem;
    border-bottom:5px solid rgb(240, 235, 240);
    font-family: "Mina", sans-serif;
    background: rgba(5, 5, 5, 0.7);
    height: 100vh;
    min-height: 100%;
    width:100vw;
  background: url("../images/ferrari-f1-background-hd-1920x1080-381062.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.card{
    margin:0 auto;
    text-align: center;
    padding:4em 10em;;
    background:rgba(8, 8, 8, 0.8);
    width: 80vw;
}

@media (max-width: 750px) {
    .About-div{
      
 
        text-align: center;
        font-size:1.2rem;
        width:100vw;
        height: 100vh;
        
        
        min-height:100%;
    }
    
    .card{
       
        padding:1em 1em;;
        width:100%;
        background:rgba(8, 8, 8, 0.5);
    }
  }