.CircuitsCard-div {
    position: relative;
    font-size:1.9rem;
 
  border: 8px solid rgb(243, 202, 18);
  background: rgb(184, 181, 181);
  margin:1.5em;
  padding:0.6em;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(12, 10, 10, 0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(3, 3, 3, 0.75);
box-shadow: 10px 10px 5px 0px rgba(3, 8, 0, 0.75);
  

}
.CircuitsCard-h1{
    text-align: center;
    font-size:0.8rem;
  
    font-family: "Keania One", cursive;
    color:rgb(10, 10, 10);
    margin:0;
    background:rgba(241, 241, 243, 0.5);
    font-family: 'Monoton', cursive;
/* font-family: 'Orbitron', sans-serif; */
/* font-family: 'Permanent Marker', cursive; */
}
.CircuitsCard-city-country{
    margin:10px;
    text-align: center;
    font-size: 0.7rem;
    font-family: 'Orbitron', sans-serif;
/* font-family: 'Permanent Marker', cursive; */
}
.CircuitsCard-fastestLap{
    font-size:0.6em;
    
}
.fastestLap-span{
    color:purple;
}
.CircuitsCard-fastestLapDriver{
    font-size:.7rem
}
.card-img{

    width:80%;
    /* transition: width 2s; */
  
  
}

/* .card-img:hover{
    position:absolute;
    right:-140px;
    bottom:-300px;
    width:200%;
   
   
   
}
.CircuitsCard-div:hover{
   margin-bottom:10em;
   cursor: pointer;
} */
.length{
    font-size:0.8rem;
    margin:1em;
}


@media (max-width:700px){
    .CircuitsCard-div {
        font-size:0.4rem;
        width:70%;
        
    }
  
}
                @media (max-width:400px){
                    .CircuitsCard-div {
                       font-size:0.4rem;
                      
                    }
                  
                }