.Startpage-div {
  display: flex;
  color: rgb(240, 232, 232);
  width: 100vw;
  height: 100vh;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Keania One", cursive;
  /* text-transform: uppercase; */
  /* font-family: "Mina", sans-serif; */
  /* font-family: "Molle", cursive; */
  /* font-family: "Plaster", cursive; */
  /* font-family: "Saira Stencil One", cursive; */
  /* font-family: "Sonsie One", cursive; */
  background: url("../images/ferrari-f1-background-hd-1920x1080-381062.jpg");
  /* background-position: center top; */
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.left-side {
    
    width: 50%;
    text-align: right;
    
    
}

.right-side {
    /* background: rgb(209, 207, 207); */
    
    width: 50%;
    margin-left: 0.2em;
}

.glitch {
    
    /* border: 1px solid magenta; */
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
  
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  
    animation: glitch 500ms infinite;
  }

  .glitch span {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  a:link {
    text-decoration: none;
  }
  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    14% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    49% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    99% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
      text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }


  @media (max-width:600px){
    .left-side {
 
        width: 50%;
        text-align: right;
        /* margin-right: 0.2em; */
        /* background:black; */
        
      }
      
      .right-side {
       /* background: rgb(209, 207, 207); */
      
        width: 50%;
       
      }
      
  }